.body,
html {
  background-image: url("golfbackground.jpg");
}
.card {
  display: flex;
}
.card .left {
  padding: 15px;
  color: dodgerblue;
}
.card .left .pheader {
  color: lawngreen;
  margin-bottom: 63px;
}
.card .right {
  display: flex;
}
.card .right .column {
  border: 1px solid #dadfea;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3px;
}
.card .right .column .cheader {
  padding-bottom: 5px;
}
.card .right .column .holeinput {
  width: 25px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 6px;
}
.boxR {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoreTot {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  color: lawngreen;
  height: 30px;
  width: 50px;
}
.play {
  display: flex;
  padding: 4px;
  border: 1px solid lawngreen;
  margin-bottom: 2px;
}
.fa-trash {
  color: #dadfea;
  cursor: pointer;
  margin-left: 4px;
  font-size: 13;
}
